<div class="newLocationWrapper">
  <div id="form">
    <h2>Hey There <%= current_user.name %>!</h2>
    <h3>Where do you live?</h3>
  <%= form_for @location do |f|%>
  <%= f.label :Name_of_your_place %>
  <%= f.text_field :name, :value => "#{current_user.name}'s Love Shack" %>
  <%= f.label :Address %>
  <%= f.text_field :street_address, :placeholder => "123 Main St." %>
  <%= f.label :City %>
  <%= f.text_field :city, :value => "Chicago" %>
  <%= f.label :State %>
  <%= f.text_field :state, :value => "IL" %>
  <%= f.label :Zip %>
  <%= f.text_field :zip, :placeholder => "Optional" %>
  <%= f.hidden_field :json_string %>
    <button class="check">Check Address</button>
    <p class="error"> </p>

    <div class="yesno">
    <p>Does the map show a marker at your correct address?</p>
    <button class="yes">yes</button> <button class="no">no</button>
    </div>

  <%=f.submit "submit"%>

  <% end %>
  </div>
  <div id="map-canvas"></div>

</div>
